.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.637);
    z-index: 100;

}

.modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid lightgray;
    height: 480px;
    width: 600px;

    overflow: auto;
}

.close-x{
    /* float: right; */
    position: absolute;
    right: 0px;
    top: 10px;
    margin-right: 20px;
    width: 22px;
    height: 21px;
    opacity: 0.3;
    border: 1px solid black;
    
}

.close-x:hover {
    opacity: 1;
    cursor: pointer;
}

.close-x:before,
.close-x:after {
    position: absolute;
    /* float: right; */
    left: 10px;
    content: ' ';
    height: 15px;
    width: 2px;
    background-color: #333;
    top: 3px;
}

.close-x:before {
    transform: rotate(45deg);
}

.close-x:after {
    transform: rotate(-45deg);
}




/*! ===================== mobile */
@media only screen and (max-width:620px) {

    /* For mobile phones: */
    .modal-child {
        width: 90%;
        height: 70%;

        /* overflow-x:hidden; */
    }

}
